.find-hotel__text-wrapper {
  padding: 38px 29px 32px 29px;
}

.find-hotel__button {
  display: block;
  width: 284px;
  margin: 0 auto;
  margin-bottom: 49px;

  @media (min-width: $tablet-width){
    width: 458px;
  }
}
