.hero-block {
  background-image: url("../img/divider-test.svg"), url("../img/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: cover, cover;
  background-color: $blue-color-1;
  padding: 90px 0 85px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 77px 0 89px 0;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet.jpg");
    background-size: auto, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop.jpg");
      background-size: auto, cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop@2x.jpg");
      }
    }
  }

  &--form-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-another.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-another@2x.jpg");
    }
    // margin-bottom: 64px;
    padding: 52px 46px 67px;

    @media (min-width: $tablet-width) {
      padding-top: 95px;
      padding-bottom: 79px;
      margin-bottom: 27px;
      background-size: auto, cover;
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 100px;
      padding-bottom: 84px;
      margin-bottom: 77px;
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another@2x.jpg");
      }
    }
  }

  &--catalog-page {
    margin-bottom: 0;
    padding: 52px 46px 67px;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-another.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-another@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      padding-top: 94px;
      padding-bottom: 118px;
      margin-bottom: 28px;
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 100px;
      padding-bottom: 122px;
      margin-bottom: 60px;
      background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another@2x.jpg");
      }
    }
  }
}

.hero-block__image {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  height: 214px;
  width: 282px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }

  &--form-page {
    width: auto;
    height: auto;

    @media (min-width: $tablet-width) {
      width: 457px;
      height: 78px;
      margin-bottom: 37px;
    }

    @media (min-width: $desktop-width) {
      width: 460px;
      height: 80px;
    }
  }

  &--catalog-page {
    width: auto;
    height: auto;

    @media (min-width: $tablet-width) {
      width: 457px;
      height: 78px;
    }

    @media (min-width: $desktop-width) {
      width: 460px;
      height: 80px;
    }
  }
}
