.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 37px 20px 0;
  border-bottom: 1px solid $color-disabled-1;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.introduction__description {
  width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 446px;
  }

  &--catalog {
    margin-bottom: 36px;
  }
}
