.main-container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background: $white-color-1;

  // &--form-page {
  //   margin-bottom: 58px;

  //   @media (min-width: $tablet-width) {
  //     margin-bottom: 64px;
  //   }
  // }

  // &--catalog-page {
  //   margin-bottom: 27px;

  //   @media (min-width: $tablet-width) {
  //     margin-bottom: 35px;
  //   }
  // }
}
