.main-nav {
  display: flex;
  position: relative;
  min-width: 320px;
  min-height: 56px;
  background-color: $white-color-1;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: $blue-color-1;
  box-shadow: 0 9px 0 0 $blue-color-1, 0 18px 0 0 $blue-color-1;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }


  // .main-nav--closed .main-nav__toggle:hover::before {
  //   background-color: fade($blue-color-1-1, 60%);
  //   box-shadow:
  //     0 9px 0 0 fade($blue-color-1, 60%),
  //     0 18px 0 0 fade($blue-color-1, 60%);
  // }

  // .main-nav--closed .main-nav__toggle:active::before {
  //   background-color: fade($blue-color-1, 30%);
  //   box-shadow:
  //     0 9px 0 0 fade($blue-color-1, 30%),
  //     0 18px 0 0 fade($blue-color-1, 30%);
  // }

  .main-nav--opened .main-nav__toggle {
    top: 17px;
    right: 20px;
    z-index: 4;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: -2px;
      width: 27px;
      height: 4px;
      background-color: $white-color-1;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    // &:active::before,
    // &:active::after {
    //   background-color: fade(#ffffff, 30%);
    // }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

.main-nav__list {
  position: absolute;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  // min-height: 80vh;
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  color: $white-color-1;
  // background-color: $blue-color-1;

  @media (min-width: $tablet-width) {
    position: inherit;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: main photo form logo academy;
    background-color: $white-color-1;
    color: $black-color-1;
  }
}

.main-nav__list-item--main-page {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main-nav__list-item--main-photo {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-nav__list-item--form {
  grid-column-start: 4;
  grid-column-end: 5;
}

.main-nav__list-item--academy {
  grid-column-start: 5;
  grid-column-end: 6;
}

.main-nav__list-item {
  text-align: center;
  box-sizing: border-box;
  background-color: $blue-color-1;
  // box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    box-shadow: none;
    background-color: $white-color-1;
  }
}

.main-nav__link {
  display: block;
  padding: 17px 0 12px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  // background-color: $blue-color-1;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}
