.main-footer {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-footer__wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 29px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 121px;
  }
}

.main-footer__hashtag {
  font-size: 21px;
}
