.main-header {
  position: relative;
  width: 100%;
  background: $white-color-1;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  height: 96px;
  width: 185px;

  @media (min-width: $tablet-width) {
    z-index: 4;
  }
}
