.main-nav {
  display: flex;
  position: relative;
  min-height: 56px;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-image: url("../img/burger-icon.svg");
  border: none;
  background-color: $white-color-1;
  cursor: pointer;
}

.main-nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $blue-color;

  // @media (min-width: 768px) {
  //   display: flex;
  //   flex-direction: row;
  //   background-color: $white-color-1;
  // }
}

.main-nav__list-item {
  width: 320px;
  text-align: center;
  box-sizing: border-box;
  padding: 17px 12px;
}
