.map__wrapper {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.map__item {
  width: 100%;
}
