.modal {
  display: none;
}

.modal__box {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparentize($color: $black-color-1, $amount: 0.7);

  &--error {
    display: none;
  }

  &--success {
    display: none;
  }
}


.modal__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  height: 280px;
  margin: 0 auto;
  background-color: transparentize($color: $white-color-1, $amount: 0);
  z-index: 11;

  &--error {
    top: 98px;

    @media (min-width: $tablet-width) {
      top: 283px;
      max-width: 400px;
      height: 347px;
    }

    @media (min-width: $desktop-width) {
      top: 244px;
      left: -21px;
      // max-width: 400px;
    }
  }

  &--success {
    top: 340px;

    @media (min-width: $tablet-width) {
      max-width: 640px;
      top: 243px;
      height: 347px;
    }

    @media (min-width: $desktop-width) {
      top: 285px;
      bottom: 850px;
      // max-width: 640px;
    }
  }
}

.modal__title {
  padding-top: 46px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
    width: 250px;
  }

  &--success {
    padding-top: 39px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 26px;
      width: 444px;
      padding-top: 50px;
      margin-bottom: 30px;
    }
  }
}

.modal__text {
  margin-bottom: 20px;
  padding: 0 50px;

  &--error {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }
  }

  &--success {
    margin-bottom: 52px;
    padding: 0 50px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      margin-bottom: 52px;
      padding: 0 68px;
    }
  }
}

.modal__text--success br {
  display: block;
}


.modal__button {
  display: block;
  min-width: 180px;
  font-size: 18px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-width: 272px;
    padding: 20px 40px 20px;
  }

  &--success {
    min-width: 280px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      min-width: 458px;
    }
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 98px;
  background-color: $white-color-2;

  &--success {
    @media (min-width: $tablet-width) {
      min-height: 146px;
    }
  }
}
