.modal {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 347px;

    &--success {
      width: 640px;
    }
  }
}

.modal__title {
  margin-bottom: 36px;
}

.modal__text {
  margin-bottom: 21px;
}
