.photo-card {
  padding: 0 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-disabled-1;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }

  &--main {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 4;
    }
  }
}

.photo-card__image {
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 8px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  &--main {
    @media (min-width: $tablet-width) {
      margin: 0;
      width: 100%;
      height: 400px;
    }
  }

  &--other {
    @media (min-width: $tablet-width) {
      width: 100%;
      height: 267px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    object-fit: cover;
  }
}

.card-description {
  display: flex;
  flex-direction: column;
}

.photo-card__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    grid-column: 1 / 3;
    padding: 21px 20px 0;
    background-color: $white-color-2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    bottom: 0;
    width: calc(100% - 40px);
    background-color: transparentize($color: $black-color-1, $amount: 0.7);
  }
}

.photo-card__text-wrapper {
  margin-bottom: 15px;
}

.photo-card__like-quantity-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.photo-card__like-quantity {
  position: relative;
  display: block;
  margin: 0;
  margin-left: 14px;
  align-self: flex-end;
  transform: translateY(4px);

  @media (min-width: $tablet-width) {
    margin-left: 9px;
  }
}

.photo-card__like-quantity-icon {
  fill: $black-color-1;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: $white-color-1;
    opacity: 1;
  }
}
