.review__introduction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid $color-disabled-1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.review__introduction-title {
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 27px;
    margin-bottom: 6px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    margin-bottom: 17px;
  }
}

.review__introduction-description {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    max-width: 436px;
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}
