.review__form {
  padding: 0 20px;
  // margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    column-gap: 100px;
    margin-bottom: 63px;
  }
}

.review__form-user-name {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: -60px;
      right: -30px;
      width: 1px;
      height: 338px;
      background-color: $grey-color-3;
    }

    @media (min-width: $desktop-width) {
      right: -50px;
    }
  }
}

.review__form-impression {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: -51px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: $grey-color-3;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
      top: -70px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: -51px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: $grey-color-3;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
      top: -70px;
    }
  }
}

.review__form-sight {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: -66px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: $grey-color-3;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
      top: -96px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: -66px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: $grey-color-3;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
      top: -96px;
    }
  }
}

.review-kit {
  display: flex;
  border: none;
  border-bottom: 1px solid $color-disabled-1;
  margin: 0;
  padding: 0;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.review__form-emotion {
  margin-bottom: 56px;
  border: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.review__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;

  &--choice {
    row-gap: 36px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--name {
    margin-bottom: 39px;

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }
  }

  &--contacts {
    margin-bottom: 34px;

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }
  }

  &--impressions {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      padding: 0 36px;
      column-gap: 11px;
      margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 20px 0 55px;
      column-gap: 39px;
      margin-bottom: 60px;
    }
  }

  &--sights {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      padding: 0 82px;
      column-gap: 32px;
      margin-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 0 0 45px;
      column-gap: normal;
      margin-bottom: 98px;
    }
  }
}

.review__form-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 16px;
  position: relative;
  width: 100%;

  &--choice {
    flex-direction: row;
    align-items: center;
  }

  &--contact::after {
    position: absolute;
    content: "";
    right: 0;
    top: 21px;
    background-color: $grey-color-2;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
  }

  &--phone::after {
    background-image: url("../img/input-phone-icon.svg");
  }

  &--email::after {
    background-image: url("../img/input-mail-icon.svg");
  }

  @media (min-width: $tablet-width) {
    &--contact {
      align-self: flex-end;
    }
  }

  @media (min-width: $desktop-width) {
    &--devils-bridge {
      padding-left: 1px;
    }

    &--mountain-bell {
      padding-left: 9px;
    }

    &--slide-park {
      padding-left: 14px;
    }

    &--red-rocks {
      padding-left: 2px;
    }
  }
}

.review__form-title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 27px;
  }

  &--impression {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 55px;
    }
  }

  &--sights {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      max-width: 308px;
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
    }
  }
}

.review__form-data {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $white-color-2;
  width: 100%;
  border: 4px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: $color-disabled-1;
  }

  &:focus-visible {
    background-color: $white-color-1;
    border: 4px solid $color-disabled-1;
    outline: none;
  }

  &--choice {
    width: auto;
  }

  &--emotion {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    white-space: normal;

    @media (min-width: $tablet-width) {
      height: 160px;
    }

    @media (min-width: $desktop-width) {
      width: 768px;
      margin-bottom: 49px;
    }
  }

  &--user-data {
    max-height: 58px;
    padding: 16px;
    position: relative;
  }

  &--contacts {
    padding-right: 72px;
  }
}

.review__form-help {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 20px;
  opacity: 0.6;
  transform: translateX(70px);

  @media (min-width: $tablet-width) {
    justify-self: flex-end;
    transform: translateX(0);
    font-size: 14px;
    padding: 0;
    margin-top: 5px;
  }
}

.review__form-button {
  display: block;
  width: 280px;
  border: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.review__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: -3 / -1;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.review__form-label {
  position: relative;

  &--user-data {
    margin-left: 16px;
  }
}

.review__form-value {
  margin-left: 46px;

  @media (min-width: $desktop-width) {
    margin-left: 41px;
    white-space: nowrap;
  }
}

.review__form-radio {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
  }

  &::before {
    width: 46px;
    height: 46px;
    background-color: $white-color-2;
    top: -12px;
    left: -19px;
  }
}

.review__form-checkbox {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: -10px;
    left: -20px;
    width: 46px;
    height: 46px;
    background-color: $white-color-2;
    border-radius: 4px;
  }
}

.review__form-data:checked + .review__form-radio::after {
  width: 16px;
  height: 16px;
  background-color: $black-color-2;
  top: 3px;
  left: -4px;
}

.review__form-label--impression:hover .review__form-radio::before {
  background-color: $color-disabled-1;
}


.review__form-label--impression:active .review__form-radio::before {
  background-color: $grey-color-4;
}

.review__form-label--impression:active .review__form-radio::after {
  background-color: transparentize($color: $black-color-2, $amount: 0.7);
}

.review__form-label--impression:focus-visible .review__form-radio::before {
  outline: 3px solid $black-color-1;
}

.review__form-data:checked + .review__form-checkbox::after {
  top: 5px;
  left: -6px;
  width: 22px;
  height: 16px;
  background-image: url("../img/check-mark.svg");
}

.review__form-label--sights:hover .review__form-checkbox::before {
  background-color: $color-disabled-1;
}


.review__form-label--sights:active .review__form-checkbox::before {
  background-color: $grey-color-4;
}

.review__form-label--sights:active .review__form-checkbox::after {
  background-image: url("../img/check-mark-active.svg");
}

.review__form-label--sights:focus .review__form-checkbox::before {
  outline: 3px solid $black-color-1;
}
