.social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  column-gap: 6px;
}

.social-list__item {
  min-width: 48px;
  min-height: 48px;
  background-color: $blue-color;
  text-align: center;
}

.social__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  list-style-type: none;
  text-decoration: none;
}
