.text-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color-2;
  // margin: 0;

  &--have-image {
    color: $white-color-1;
  }

  &--advantages-without-image {
    // margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      // margin-bottom: 16px;
    }
  }

  &--card-description {
    text-transform: none;
    text-align: left;

    @media (min-width: $desktop-width) {
      color: $white-color-1;
    }
  }

  &--sublist {
    text-align: left;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &--food {
    @media (min-width: $tablet-width) {
      padding: 0 13px;
    }
  }

  &--housing {
    @media (min-width: $desktop-width) {
      width: 252px;
    }
  }

  &--souvenirs {
    @media (min-width: $desktop-width) {
      width: 215px;
    }
  }

  // // &--find-hotel {
  // //   @media (min-width: $tablet-width) {
  // //     margin-bottom: 2px;
  // //   }
  // }
}

br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  // @media (min-width: $desktop-width) {
  //   display: none;
  // }

  // display: none;
}

.advantages__text > br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
