.title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color-1;
  margin: 0;

  &--have-image {
    color: $white-color-1;
  }

  &--non-list {
    margin-bottom: 35px;
  }

  &--list {
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      width: 130px;
    }
  }

  &--sublist {
    margin-bottom: 16px;
    text-align: left;

    @media (min-width: $tablet-width) {
      margin-bottom: 28px;
    }
  }

  &--card-title {
    font-size: 14px;
    line-height: 21px;
    text-align: left;

    @media (min-width: $desktop-width) {
      color: $white-color-1;
    }
  }

  &--white {
    color: $white-color-1;
  }

  &--label {
    text-transform: none;
  }

  &--find-hotel {
    font-size: 21px;
    margin-bottom: 31px;
  }
}
