.title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color-1;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  &--have-image {
    color: $white-color-1;
  }

  &--non-list {
    @media (min-width: $tablet-width) {
      font-size: 21px;
    }
  }

  &--list {
    @media (min-width: $tablet-width) {
      width: 172px;
    }
  }

  &--sublist {
    text-align: left;
  }

  &--card-title {
    font-size: 14px;
    line-height: 21px;
    text-align: left;

    @media (min-width: $desktop-width) {
      color: $white-color-1;
    }
  }

  &--white {
    color: $white-color-1;
  }

  &--label {
    text-transform: none;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }

  &--find-hotel {
    font-size: 21px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 26px;
    }
  }

  &--catalog-introduction {
    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }

  &--video {
    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }
}

.title--list > br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
