.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.page__container {
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page__body {
  margin: 0;
  background-color: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.main-header {
  width: 100%;
  background: #ffffff;
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  height: 96px;
  width: 185px;
}
@media (min-width: 768px) {
  .main-header__logo {
    z-index: 4;
  }
}

.main-nav {
  display: flex;
  position: relative;
  min-width: 320px;
  min-height: 56px;
  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--closed .main-nav__toggle::before:hover {
  background-color: rgba(129, 179, 210, 0.6);
}
.main-nav--closed .main-nav__toggle::before:active {
  background-color: rgba(129, 179, 210, 0.7);
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    top: 17px;
    right: 20px;
    z-index: 4;
  }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -2px;
    width: 27px;
    height: 4px;
    background-color: #ffffff;
  }
  .main-nav--opened .main-nav__toggle::before:hover, .main-nav--opened .main-nav__toggle::after:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .main-nav--opened .main-nav__toggle::before:active, .main-nav--opened .main-nav__toggle::after:active {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}
.main-nav__list {
  position: absolute;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__list {
    position: inherit;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: main photo form logo academy;
    background-color: #ffffff;
    color: #000000;
  }
}

.main-nav__list-item--main-page {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main-nav__list-item--main-photo {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-nav__list-item--form {
  grid-column-start: 4;
  grid-column-end: 5;
}

.main-nav__list-item--academy {
  grid-column-start: 5;
  grid-column-end: 6;
}

.main-nav__list-item {
  text-align: center;
  box-sizing: border-box;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-nav__list-item {
    box-shadow: none;
    background-color: #ffffff;
  }
}
@media (max-width: 767px) {
  .main-nav__list-item:last-of-type a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.main-nav__link {
  display: block;
  padding: 17px 0 12px 0;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.main-nav__link:hover {
  background-color: #669ec0;
}
.main-nav__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 21px;
    border-bottom: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  .main-nav__link:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }
  .main-nav__link:active {
    opacity: 0.3;
    outline: none;
    background-color: #ffffff;
  }
  .main-nav__link--current {
    color: #766357;
    text-decoration: none;
    cursor: default;
    list-style-type: none;
  }
  .main-nav__link--current:hover, .main-nav__link--current:active {
    color: #766357;
    opacity: 1;
  }
}

.hero-block {
  background-image: url("../img/divider-test.svg"), url("../img/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: cover, cover;
  background-color: #81b3d2;
  padding: 90px 0 85px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-block {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero-block {
    padding: 77px 0 89px 0;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet.jpg");
    background-size: auto, cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-block {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .hero-block {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop.jpg");
    background-size: auto, cover;
  }
}
@media (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-block {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop@2x.jpg");
  }
}
.hero-block--form-page {
  background-image: url("../img/divider-test.svg"), url("../img/hero-background-another.jpg");
  padding: 52px 46px 67px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-block--form-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-another@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero-block--form-page {
    padding-top: 95px;
    padding-bottom: 79px;
    margin-bottom: 27px;
    background-size: auto, cover;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-block--form-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero-block--form-page {
    padding-top: 100px;
    padding-bottom: 84px;
    margin-bottom: 77px;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-block--form-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another@2x.jpg");
  }
}
.hero-block--catalog-page {
  margin-bottom: 0;
  padding: 52px 46px 67px;
  background-image: url("../img/divider-test.svg"), url("../img/hero-background-another.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-block--catalog-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-another@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero-block--catalog-page {
    padding-top: 94px;
    padding-bottom: 118px;
    margin-bottom: 28px;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-block--catalog-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-tablet-another@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero-block--catalog-page {
    padding-top: 100px;
    padding-bottom: 122px;
    margin-bottom: 60px;
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-block--catalog-page {
    background-image: url("../img/divider-test.svg"), url("../img/hero-background-desktop-another@2x.jpg");
  }
}

.hero-block__image {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  height: 214px;
  width: 282px;
}
@media (min-width: 768px) {
  .hero-block__image {
    width: 461px;
    height: 350px;
  }
}
.hero-block__image--form-page {
  width: auto;
  height: auto;
}
@media (min-width: 768px) {
  .hero-block__image--form-page {
    width: 457px;
    height: 78px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1200px) {
  .hero-block__image--form-page {
    width: 460px;
    height: 80px;
  }
}
.hero-block__image--catalog-page {
  width: auto;
  height: auto;
}
@media (min-width: 768px) {
  .hero-block__image--catalog-page {
    width: 457px;
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .hero-block__image--catalog-page {
    width: 460px;
    height: 80px;
  }
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 32px 27px 16px;
  box-sizing: border-box;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .advantages__content-wrapper {
    padding: 55px 31px 27px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .advantages__content-wrapper--annotation {
    padding: 51px 130px 31px;
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .advantages__content-wrapper--annotation {
    padding: 61px 291px 27px;
    margin-bottom: 18px;
  }
}
.advantages__content-wrapper--with-image {
  background-color: #81b3d2;
  margin-bottom: 0;
}
.advantages__content-wrapper--without-image {
  background-color: #eeeeee;
  padding: 25px 33px;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__content-wrapper--without-image {
    padding: 42px 31px 27px;
  }
}
@media (min-width: 1200px) {
  .advantages__content-wrapper--without-image {
    padding: 52px 50px 27px;
  }
}
@media (min-width: 1200px) {
  .advantages__content-wrapper--road {
    padding: 52px 65px 27px;
  }
}
.advantages__content-wrapper--devils-bridge {
  padding-top: 36px;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .advantages__content-wrapper--devils-bridge {
    order: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 53px 32px 27px;
  }
}
@media (min-width: 1200px) {
  .advantages__content-wrapper--devils-bridge {
    padding: 53px 85px 27px;
  }
}
.advantages__content-wrapper--first {
  padding: 49px 27px 39px;
}
@media (min-width: 768px) {
  .advantages__content-wrapper--first {
    padding: 55px 27px 30px;
  }
}
@media (min-width: 1200px) {
  .advantages__content-wrapper--first {
    padding: 55px 55px 30px;
  }
}
.advantages__content-wrapper--first::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 37px;
  top: -22px;
  background-image: url("../img/divider-mini.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .advantages__content-wrapper--first::before {
    display: none;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  min-width: 320px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  margin: 0;
  padding: 0;
}
.advantages__item:first-child {
  position: relative;
}
@media (min-width: 768px) {
  .advantages__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    grid-column: 1/-1;
  }
  .advantages__item--devils-bridge {
    grid-template-columns: 2fr 1fr;
  }
  .advantages__item--without-image {
    grid-template-columns: 1fr;
    height: 256px;
  }
  .advantages__item--square {
    grid-column: 1/2;
  }
  .advantages__item--road {
    grid-column: 2/3;
  }
  .advantages__item--tourist {
    grid-column: 3/4;
  }
}

.advantages__subitem {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  list-style-type: none;
  margin: 0;
  padding: 32px 18px 46px 65px;
  background: #ffffff;
}
@media (min-width: 768px) {
  .advantages__subitem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
    padding: 0;
    height: 331px;
    align-items: center;
  }
}

.advantages__subitem-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.advantages__subitem-item::before {
  position: absolute;
  top: -7px;
  left: -47px;
  content: "";
  min-width: 40px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .advantages__subitem-item::before {
    position: relative;
    top: 1px;
    left: auto;
    min-width: 77px;
    min-height: 72px;
    margin-bottom: 30px;
  }
}
.advantages__subitem-item--housing::before {
  background-image: url("../img/housing-icon.svg");
}
.advantages__subitem-item--food::before {
  background-image: url("../img/food-icon.svg");
}
@media (min-width: 768px) {
  .advantages__subitem-item--food::before {
    margin-bottom: 24px;
  }
}
.advantages__subitem-item--souvenirs::before {
  background-image: url("../img/souvenirs-icon.svg");
  top: -9px;
  left: -44px;
}
@media (min-width: 768px) {
  .advantages__subitem-item--souvenirs::before {
    top: 0;
    left: 9px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .advantages__subitem-item--souvenirs::before {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .advantages__subitem-item {
    align-items: center;
    padding: 0 37px;
  }
}

.advantages__item-img {
  display: block;
  width: 100%;
  min-height: 256px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .advantages__item-img {
    width: 100%;
    height: 256px;
  }
}

.advantages__number {
  display: block;
  position: relative;
  padding-bottom: 17px;
}
.advantages__number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -12px;
  height: 1px;
  width: 8px;
  background-color: #ffffff;
}
.advantages__number::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -12px;
  height: 1px;
  width: 8px;
  background-color: #ffffff;
}
.advantages__number--with-image {
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__number {
    padding-bottom: 24px;
  }
}

.advantages__number--without-image::before,
.advantages__number--without-image::after {
  background-color: #000000;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 21px;
    line-height: 26px;
  }
}
.title--have-image {
  color: #ffffff;
}
.title--non-list {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .title--non-list {
    font-size: 21px;
    margin-bottom: 28px;
  }
}
.title--list {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .title--list {
    width: 150px;
    margin-bottom: 12px;
  }
}
.title--sublist {
  margin-bottom: 16px;
  text-align: left;
}
@media (min-width: 768px) {
  .title--sublist {
    margin-bottom: 22px;
  }
}
.title--card-title {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 2px;
}
@media (min-width: 1200px) {
  .title--card-title {
    color: #ffffff;
  }
}
.title--white {
  color: #ffffff;
}
.title--label {
  text-transform: none;
}
@media (min-width: 768px) {
  .title--label {
    font-size: 18px;
  }
}
.title--find-hotel {
  font-size: 21px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .title--find-hotel {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .title--find-hotel {
    margin-bottom: 35px;
  }
}
.title--catalog-introduction {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .title--catalog-introduction {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .title--video {
    font-size: 30px;
  }
}

.text-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin: 0;
}
.text-description--have-image {
  color: #ffffff;
}
.text-description--card-description {
  text-transform: none;
  text-align: left;
}
@media (min-width: 1200px) {
  .text-description--card-description {
    color: #ffffff;
  }
}
.text-description--sublist {
  text-align: left;
}
@media (min-width: 768px) {
  .text-description--sublist {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .text-description--food {
    padding: 0 13px;
  }
}
@media (min-width: 1200px) {
  .text-description--housing {
    width: 252px;
  }
}
@media (min-width: 1200px) {
  .text-description--souvenirs {
    width: 215px;
  }
}

@media (max-width: 767px) {
  br {
    display: none;
  }
}

@media (min-width: 1200px) {
  .advantages__text > br {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  box-sizing: border-box;
  min-height: 58px;
  min-width: 284px;
  background-color: #81b3d2;
  text-align: center;
  padding: 16px 49px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
}

.find-hotel__text-wrapper {
  padding: 40px 29px 32px 29px;
}
@media (min-width: 768px) {
  .find-hotel__text-wrapper {
    padding: 59px 0 43px;
  }
}
@media (min-width: 1200px) {
  .find-hotel__text-wrapper {
    padding: 59px 0 44px;
  }
}

.find-hotel__button {
  display: block;
  width: 284px;
  margin: 0 auto;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .find-hotel__button {
    width: 458px;
    margin-bottom: 55px;
  }
}

.map__wrapper {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .map__wrapper {
    margin-bottom: -2px;
  }
}
@media (min-width: 1200px) {
  .map__wrapper {
    margin-bottom: 6px;
  }
}

.map__item {
  width: 100%;
}

.main-footer {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-footer__wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 29px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    padding: 36px 121px;
  }
}

.main-footer__hashtag {
  font-size: 21px;
}

.social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  column-gap: 6px;
}

.social-list__item {
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  text-align: center;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  list-style-type: none;
  text-decoration: none;
  background-color: #81b3d2;
}
.social-list__link:hover {
  background-color: #669ec0;
}
.social-list__link:active {
  background-color: #5496bd;
}
.social-list__link:active .social-list__icon {
  opacity: 0.3;
}

.social-list__icon {
  fill: #ffffff;
  opacity: 1;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.copyright__link {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
}
.copyright__link:hover {
  color: #81b3d2;
}
.copyright__link:active {
  color: #b3b3b3;
}

.review__introduction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .review__introduction {
    border: none;
  }
}

.review__introduction-title {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .review__introduction-title {
    font-size: 30px;
    padding-bottom: 21px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .review__introduction-title {
    padding-bottom: 33px;
  }
}

.review__introduction-description {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .review__introduction-description {
    max-width: 435px;
    margin-bottom: 2px;
  }
}
@media (min-width: 1200px) {
  .review__introduction-description {
    margin-bottom: 43px;
  }
}

.review__form {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .review__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .review__form {
    padding: 0 120px;
    column-gap: 100px;
    margin-bottom: 63px;
  }
}

.review__form-user-name {
  position: relative;
}
@media (min-width: 768px) {
  .review__form-user-name::after {
    position: absolute;
    content: "";
    top: -60px;
    right: -30px;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .review__form-user-name::after {
    right: -50px;
  }
}

.review__form-impression {
  position: relative;
}
@media (min-width: 768px) {
  .review__form-impression {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .review__form-impression::before {
    position: absolute;
    content: "";
    top: -51px;
    left: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .review__form-impression::before {
    width: 280px;
    top: -70px;
  }
}
@media (min-width: 768px) {
  .review__form-impression::after {
    position: absolute;
    content: "";
    top: -51px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .review__form-impression::after {
    width: 280px;
    top: -70px;
  }
}

.review__form-sight {
  position: relative;
}
@media (min-width: 768px) {
  .review__form-sight {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .review__form-sight::before {
    position: absolute;
    content: "";
    top: -66px;
    left: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .review__form-sight::before {
    width: 280px;
    top: -96px;
  }
}
@media (min-width: 768px) {
  .review__form-sight::after {
    position: absolute;
    content: "";
    top: -66px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .review__form-sight::after {
    width: 280px;
    top: -96px;
  }
}

.review-kit {
  display: flex;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .review-kit {
    border: none;
  }
}

.review__form-emotion {
  margin-bottom: 56px;
  border: none;
}
@media (min-width: 768px) {
  .review__form-emotion {
    grid-column: 1/3;
    margin-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .review__form-emotion {
    margin: 0 auto;
  }
}

.review__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.review__list--choice {
  row-gap: 36px;
}
@media (min-width: 768px) {
  .review__list--choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .review__list--choice {
    grid-template-columns: repeat(3, 1fr);
  }
}
.review__list--name {
  margin-bottom: 39px;
}
@media (min-width: 1200px) {
  .review__list--name {
    margin-bottom: 48px;
  }
}
.review__list--contacts {
  margin-bottom: 34px;
}
@media (min-width: 1200px) {
  .review__list--contacts {
    margin-bottom: 48px;
  }
}
.review__list--impressions {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .review__list--impressions {
    padding: 0 36px;
    column-gap: 11px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .review__list--impressions {
    padding: 0 20px 0 55px;
    column-gap: 39px;
    margin-bottom: 60px;
  }
}
.review__list--sights {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .review__list--sights {
    padding: 0 82px;
    column-gap: 32px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .review__list--sights {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 0 0 45px;
    column-gap: normal;
    margin-bottom: 98px;
  }
}

.review__form-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 16px;
  position: relative;
  width: 100%;
}
.review__form-list-item--choice {
  flex-direction: row;
  align-items: center;
}
.review__form-list-item--contact::after {
  position: absolute;
  content: "";
  right: 0;
  top: 21px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 58px;
}
.review__form-list-item--phone::after {
  background-image: url("../img/input-phone-icon.svg");
}
.review__form-list-item--email::after {
  background-image: url("../img/input-mail-icon.svg");
}
@media (min-width: 768px) {
  .review__form-list-item--contact {
    align-self: flex-end;
  }
}
@media (min-width: 1200px) {
  .review__form-list-item--devils-bridge {
    padding-left: 1px;
  }
  .review__form-list-item--mountain-bell {
    padding-left: 9px;
  }
  .review__form-list-item--slide-park {
    padding-left: 14px;
  }
  .review__form-list-item--red-rocks {
    padding-left: 2px;
  }
}

.review__form-title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .review__form-title {
    font-size: 21px;
    margin-bottom: 27px;
  }
}
.review__form-title--impression {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .review__form-title--impression {
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .review__form-title--impression {
    margin-bottom: 55px;
  }
}
.review__form-title--sights {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .review__form-title--sights {
    max-width: 308px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .review__form-title--sights {
    margin-bottom: 68px;
  }
}

.review__form-data {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  width: 100%;
  border: 4px solid transparent;
  cursor: pointer;
}
.review__form-data:hover {
  background-color: #e5e5e5;
}
.review__form-data:focus-visible {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  outline: none;
}
.review__form-data--choice {
  width: auto;
}
.review__form-data--emotion {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  white-space: normal;
}
@media (min-width: 768px) {
  .review__form-data--emotion {
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .review__form-data--emotion {
    width: 768px;
    margin-bottom: 49px;
  }
}
.review__form-data--user-data {
  max-height: 58px;
  padding: 16px;
  position: relative;
}
.review__form-data--contacts {
  padding-right: 72px;
}

.review__form-help {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 20px;
  opacity: 0.6;
  transform: translateX(70px);
}
@media (min-width: 768px) {
  .review__form-help {
    justify-self: flex-end;
    transform: translateX(0);
    font-size: 14px;
    padding: 0;
    margin-top: 5px;
  }
}

.review__form-button {
  display: block;
  width: 280px;
  border: none;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .review__form-button {
    width: 324px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .review__form-button {
    width: 384px;
  }
}

.review__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .review__button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    grid-column: -3/-1;
  }
}
@media (min-width: 1200px) {
  .review__button-wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

.review__form-label {
  position: relative;
}
.review__form-label--user-data {
  margin-left: 16px;
}

.review__form-value {
  margin-left: 46px;
}
@media (min-width: 1200px) {
  .review__form-value {
    margin-left: 42px;
    white-space: nowrap;
  }
}

.review__form-radio {
  position: relative;
}
.review__form-radio::before, .review__form-radio::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.review__form-radio::before {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  top: -12px;
  left: -19px;
}

.review__form-checkbox {
  position: relative;
}
.review__form-checkbox::before, .review__form-checkbox::after {
  position: absolute;
  content: "";
}
.review__form-checkbox::before {
  top: -10px;
  left: -20px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.review__form-data:checked + .review__form-radio::after {
  width: 16px;
  height: 16px;
  background-color: #333333;
  top: 3px;
  left: -4px;
}

.review__form-label--impression:hover .review__form-radio::before {
  background-color: #e5e5e5;
}

.review__form-label--impression:active .review__form-radio::before {
  background-color: #d5d5d5;
}

.review__form-label--impression:active .review__form-radio::after {
  background-color: rgba(51, 51, 51, 0.3);
}

.review__form-label--impression:focus-visible .review__form-radio::before {
  outline: 3px solid #000000;
}

.review__form-data:checked + .review__form-checkbox::after {
  top: 5px;
  left: -6px;
  width: 22px;
  height: 16px;
  background-image: url("../img/check-mark.svg");
}

.review__form-label--sights:hover .review__form-checkbox::before {
  background-color: #e5e5e5;
}

.review__form-label--sights:active .review__form-checkbox::before {
  background-color: #d5d5d5;
}

.review__form-label--sights:active .review__form-checkbox::after {
  background-image: url("../img/check-mark-active.svg");
}

.review__form-label--sights:focus .review__form-checkbox::before {
  outline: 3px solid #000000;
}

.modal {
  display: none;
}

.modal__box {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__box--error {
  display: none;
}
.modal__box--success {
  display: none;
}

.modal__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  height: 280px;
  margin: 0 auto;
  background-color: white;
  z-index: 11;
}
.modal__content-wrapper--error {
  top: 98px;
}
@media (min-width: 768px) {
  .modal__content-wrapper--error {
    top: 283px;
    min-width: 400px;
    height: 347px;
  }
}
@media (min-width: 1200px) {
  .modal__content-wrapper--error {
    top: 244px;
    left: -21px;
  }
}
.modal__content-wrapper--success {
  top: 340px;
}
@media (min-width: 768px) {
  .modal__content-wrapper--success {
    min-width: 640px;
    top: 243px;
    height: 347px;
  }
}
@media (min-width: 1200px) {
  .modal__content-wrapper--success {
    top: 285px;
    bottom: 850px;
  }
}

.modal__title {
  padding-top: 46px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
    width: 250px;
  }
}
.modal__title--success {
  padding-top: 39px;
}
@media (min-width: 768px) {
  .modal__title--success {
    font-size: 30px;
    line-height: 26px;
    width: 444px;
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

.modal__text {
  margin-bottom: 20px;
  padding: 0 50px;
}
.modal__text--error {
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .modal__text--error {
    margin-bottom: 46px;
  }
}
.modal__text--success {
  margin-bottom: 52px;
  padding: 0 50px;
}
@media (min-width: 768px) {
  .modal__text--success {
    font-size: 14px;
    margin-bottom: 52px;
    padding: 0 68px;
  }
}

.modal__text--success br {
  display: block;
}

.modal__button {
  display: block;
  min-width: 180px;
  font-size: 18px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal__button {
    min-width: 272px;
    padding: 20px 40px 20px;
  }
}
.modal__button--success {
  min-width: 280px;
}
@media (min-width: 768px) {
  .modal__button--success {
    font-size: 21px;
    min-width: 458px;
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 98px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .modal__button-wrapper--success {
    min-height: 146px;
  }
}

.catalog__introduction {
  padding: 37px 20px 25px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .catalog__introduction {
    border: none;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
    margin-bottom: 59px;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-bottom: 60px;
  }
}

.main-container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background: #ffffff;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 37px 20px 0;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .introduction {
    border: none;
    margin-bottom: 46px;
  }
}
@media (min-width: 1200px) {
  .introduction {
    margin-bottom: 53px;
  }
}
.introduction--form-page {
  margin-bottom: 0;
}

.introduction__description {
  width: 280px;
}
@media (min-width: 768px) {
  .introduction__description {
    min-width: 446px;
  }
}
.introduction__description--catalog {
  margin-bottom: 36px;
}

.photo-card {
  padding: 23px 20px 29px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photo-card {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
  }
}
@media (min-width: 1200px) {
  .photo-card {
    position: relative;
  }
}
@media (min-width: 768px) {
  .photo-card--main {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .photo-card--main {
    grid-column: 1/4;
  }
}

.photo-card__image {
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 16px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .photo-card__image {
    grid-column: 1/3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .photo-card__image--main {
    margin: 0;
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 768px) {
  .photo-card__image--other {
    width: 100%;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .photo-card__image {
    position: relative;
    object-fit: cover;
  }
}

.card-description {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .photo-card__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    grid-column: 1/3;
    background-color: #f2f2f2;
  }
  .photo-card__wrapper--main {
    padding: 21px 20px 0;
  }
  .photo-card__wrapper--other {
    padding: 25px 20px 0;
  }
}
@media (min-width: 1200px) {
  .photo-card__wrapper {
    position: absolute;
    content: "";
    bottom: 0;
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo-card__text-wrapper {
  margin-bottom: 11px;
}
@media (min-width: 1200px) {
  .photo-card__text-wrapper--main {
    margin-bottom: 14px;
  }
  .photo-card__text-wrapper--other {
    margin-bottom: 18px;
    margin-left: 5px;
  }
}

.photo-card__like-quantity-wrapper {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .photo-card__like-quantity-wrapper {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .photo-card__like-quantity-wrapper--main {
    margin-bottom: 23px;
  }
}

.photo-card__like-quantity {
  position: relative;
  display: block;
  margin: 0;
  margin-left: 14px;
  align-self: flex-end;
  transform: translateY(4px);
}
@media (min-width: 768px) {
  .photo-card__like-quantity {
    margin-left: 9px;
  }
}

.photo-card__like-quantity-icon {
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .photo-card__like-quantity-icon {
    fill: #ffffff;
    opacity: 1;
  }
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px 20px;
}
@media (min-width: 768px) {
  .video {
    padding: 0 60px;
  }
}

.video__play-button {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  opacity: 0.7;
}
.video__play-button:hover {
  opacity: 0.5;
}
.video__play-button:active {
  opacity: 0.3;
}

.video__title {
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .video__title {
    margin-bottom: 32px;
  }
}

.video__text {
  width: 80vw;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .video__text {
    width: 60vw;
    padding-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .video__text {
    max-width: 445px;
  }
}

.video__preview {
  position: relative;
  display: block;
  width: 100%;
  max-width: 800px;
  height: 177px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 6px;
}
.video__preview::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 54px;
  top: 0;
  background-image: url("../img/catalog-like-icon.svg");
}
@media (min-width: 768px) {
  .video__preview {
    height: 500px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .video__preview {
    margin-bottom: 84px;
  }
}

.video__wrapper {
  width: 100%;
  position: relative;
}

.video__link {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
/*# sourceMappingURL=style.css.map */