.text-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color-2;
  margin: 0;

  &--have-image {
    color: $white-color-1;
  }

  &--card-description {
    text-transform: none;
    text-align: left;
  }

  &--sublist {
    text-align: left;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }
}
