.title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black-color-1;
  margin: 0;

  &--have-image {
    color: $white-color-1;
  }

  &--non-list {
    margin-bottom: 35px;
  }

  &--list {
    margin-bottom: 52px;
  }

  &--sublist {
    margin-bottom: 16px;
    text-align: left;
  }

  &--card-title {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }
}
