//colors
$white-color-1: #ffffff;
$white-color-2: #f2f2f2;
$blue-color: #81b3d2;
$grey-color-1: #eeeeee;
$grey-color-2: #e6e6e6;
$black-color-1: #000000;
$black-color-2: #333333;
$color-hover: #669ec0;
$color-active: #5496bd;
$color-disabled-1: #e5e5e5;
$color-disabled-2: #b3b3b3;
$color-current: #766357;
